.navbar-brand > img {
  display: inline;
  height: 50px;
  margin-top: -15px;
}

.navbar-brand > span {
  margin-left: 5px;
}

a.sA {
  display: block;
  margin-top: 10px;
}

input#txtSearch {
	width: 300px;
}